@import "tailwindcss";

html {
  
  color: white;
  min-height: 100vh;
  
  
  /* animation: waveMove 3s linear infinite;   */
}

body {
  margin: 0;
  
  background: linear-gradient(to bottom, #000, #002a14, #000);
  height: 100vh;
}







